.about-us {
    .services {
        // display: grid;
        // grid-template-columns: repeat(auto-fill, 326px);
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // column-gap: 32px;
        // row-gap: 40px;
        margin-top: 40px;

        &-item {
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 358px;
            padding: 0px 16px;
            margin-bottom: 40px;

            &--icon {
                width: 124px;
                height: 124px;

                @include screen($smd) {
                    width: 144px;
                    height: 144px;
                }
            }
        }
    }
}
