.app-header {
    .navbar {
        @include screen($md, 'max') {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            background-color: $white;
            border-radius: 0px 20px 20px 0px;
            padding: 58px 24px;
            transform: translateX(-100%);
            box-shadow: 1px 1px 6px 3px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease;
        }

        &-list {
            display: flex;
            flex-direction: column;

            @include screen($md) {
                flex-direction: row;
            }
        }

        &-item {
            margin-bottom: 24px;

            @include screen($md) {
                margin-bottom: 0;
            }
        }

        &-link {
            font-size: 16px;

            @include screen($md) {
                margin: 0 20px;
            }
        }

        &-close {
            display: block;
            position: absolute;
            top: 16px;
            right: 16px;
            cursor: pointer;

            @include screen($md) {
                display: none;
            }
        }
    }

    .burger {
        display: block;

        @include screen($md) {
            display: none;
        }
    }

    .languages {
        @include screen($md) {
            width: 140px;
        }
    }

    .dropdown {
        font-size: 16px;

        position: relative;
        z-index: 2;

        &-list {
            position: absolute;
            top: calc(100% + 12px);
            transition: height .2s ease;
            height: 0;
            overflow: hidden;

            &.open {
                height: 72px;
            }
        }

        &-inner {
            &.selected {
                opacity: 0.3;
            }
        }
    }
}
