@import './UI/buttons.scss';

.app {
    background-color: $white;
    overflow: hidden;

    &-section {
        margin-bottom: 120px;

        @include screen($md) {
            margin-bottom: 140px;
        }
    }

    &-subtitle {
        font-weight: 600;
        font-size: 30px;
        text-align: center;

        margin-bottom: 24px;

        @include screen($md) {
            font-size: 40px;
            margin-bottom: 28px;
        }
    }

    &-subtext {
        text-align: center;

        margin-left: auto;
        margin-right: auto;

        @include screen($md) {
            font-size: 24px;
        }
    }
}

@import './sections/header.scss';
@import './sections/about-us.scss';
@import './sections/banner.scss';
@import './sections/cooperation.scss';
@import './sections/prices.scss';
@import './sections/socials.scss';
@import './sections/footer.scss';
